.card-container{
    background-color: #eee;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 5px;
}

.pic {
    max-height: 300px;
    min-height: 300px;
}

.caption {
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .detail {
        max-width: 350px;
        padding: 1em;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {

    .thumbnail {
    max-width: 350px;
    padding: 1em;
    margin: 0 auto;
    }

    .card-container {
        max-width: 390px;
    }
}