<div class="container">
    <div class="thumbnail detail">
        <!--<div class="detail">-->
            <img src="img/{{celebrity.img_file}}.jpg" class="pic center-block img-responsive">
            <div class="card-content ">
                <h3>{{celebrity.full_name}}</h3>
                <p>Age: {{celebrity.age}}</p>
                <p>Favorite Food: {{celebrity.fav_food}}</p>
                <p>Hourly Rate: {{celebrity.hourly_rate | currency}}</p>
            </div>
            <p><a class="btn btn-primary" href="#/" role="button">Back</a></p>
        </div>
    <!--</div>-->
</div>
